.features{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    .f-visual{
        margin-bottom: map-get($space, 'xxl' ) ;
    }
}




@media screen and (min-width: map-get($sections, 7)) {
/* Styles for tablets and larger screens */
    
    .features .f-visual {
        flex: 2;
        margin-bottom: 0;
    }
}
    



